<ion-header>
    
      <ion-navbar>
        <ion-title>Register - Just For Fun</ion-title>
      </ion-navbar>
    
    </ion-header>
    
  
    <ion-content padding>
      <form [formGroup]="registerForm" novalidate>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input #username formControlName="username" type="email" [class.invalid]="!registerForm.controls.username.valid && registerForm.controls.username.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.dirty">
          <p>Please enter a valid Email</p>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input #password formControlName="password" type="password" [class.invalid]="!registerForm.controls.password.valid && registerForm.controls.password.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.dirty">
          <p>Password must be more than 6 characters</p>
        </ion-item>
        <button ion-button block color="primary" type="submit" round icon-left (click)="register()">
          <ion-icon name="log-in"></ion-icon>
          Register
        </button>
      </form>
    </ion-content>
    