<ion-header>

  <ion-navbar>
    <ion-title>Create New Blog</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="createBlogForm" novalidate>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input #title formControlName="title" [class.invalid]="!createBlogForm.controls.title.valid && createBlogForm.controls.title.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!createBlogForm.controls.title.valid && createBlogForm.controls.title.dirty">
        <p>Title is required</p>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Summary (link)</ion-label>
        <ion-input #summary formControlName="summary" [class.invalid]="!createBlogForm.controls.summary.valid && createBlogForm.controls.summary.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!createBlogForm.controls.summary.valid && createBlogForm.controls.summary.dirty">
        <p>Summary is required</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea #description formControlName="description" id="description" cols="30" rows="10" [class.invalid]="!createBlogForm.controls.description.valid && createBlogForm.controls.description.dirty"></ion-textarea>
      </ion-item>
      <ion-item class="error-message" *ngIf="!createBlogForm.controls.description.valid && createBlogForm.controls.description.dirty">
        <p>Description is required</p>
      </ion-item>
      <button ion-button block color="primary" type="submit" round icon-left (click)="creatBlog()">
        <ion-icon name="ios-document"></ion-icon>
        Create
      </button>
    </form>
</ion-content>
